<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="gbs_klarnafix_clear_on_checkout"
                  instance="GerrardSBS\KlarnaFix\Observer\ClearSuccessContext"/>
    </event>

    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="gbs_klarnafix_clear_on_cart"
                  instance="GerrardSBS\KlarnaFix\Observer\ClearSuccessContext"/>
    </event>
</config>
